
#errors {
    color: red;
    font-size: 9pt;	
}
.mainBody{
	width: 70%;
	margin-left:auto;
	margin-top:100px;
}
table{
	width: 70%;
}
th{
	hieght:50px;
}

#addAppForm{
	width:70%;
	padding:10px;
	margin:10px;
	border-style:solid;
	boarder-width:2px;
	boarder-radius:10px;
}


